$sub-nav-count:         2;
$width--nav-item:       150px;
$width--nav:            $width--nav-item * $sub-nav-count;
$height--nav-item:      48px;
$height--inner-li:      $height--nav-item + 0;
$color--bg--main:       #21bde1;
$color--bg--link-hover: #d5f2f9;
$color--bg--nav:        #fff;
$color--text:           #555;
$color--nav-links:      #000;
