<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Three-Column Layout Using Flex</title>
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,600" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Rachel’s Promise</h1>
  </header>
  <main>
    <section>
      <h2>Thierry With a Young Gorilla at Ape Action Africa</h2>
      <figure>
        <img src="img/58866db1d30cc-detail.jpg" alt="[Thierry with a young gorilla at Ape Action Africa.]">
        <figcaption>Image: JoAnne MacArthur / <a href="https://weanimals.org/" target="_blank" rel="noopener">We Animals</a></figcaption>
      </figure>
      <p>Thierry with a young gorilla at Ape Action Africa.</p>
    </section>
    <section>
      <h2>Rachel Kissing a Young Gorilla at Ape Action Africa in Cameroon</h2>
      <figure>
        <img src="img/58866a647bb37-detail.jpg" alt="[Rachel Kissing a Young Gorilla at Ape Action Afria in Cameroon.]">
        <figcaption>Image: JoAnne MacArthur / <a href="https://weanimals.org/" target="_blank" rel="noopener">We Animals</a></figcaption>
      </figure>
      <p>Rachel Hogan is the Director of Ape Action Africa in Cameroon. She and her team have rescued thousands of primates from the bush meat trade and the pet industry since she began there in 2001 (Ape Action Africa was formerly named the Cameroon Wildlife Aid Fund).</p>
    </section>
    <section>
      <h2>Appolinaire and Pikin Moving From the Vet Clinic to the New Sanctuary Space</h2>
      <figure>
        <img src="img/5a8c7adbb755b-detail.jpg" alt="[Appolinaire and Pikin moving from the vet clinic to the new sanctuary space.]">
        <figcaption>Image: JoAnne MacArthur / <a href="https://weanimals.org/" target="_blank" rel="noopener">We Animals</a></figcaption>
      </figure>
      <p>Appolinaire and Pikin moving from the vet clinic to the new sanctuary space. Appolinaire is one of the gorilla caretakers at Ape Action Africa.</p>
    </section>
  </main>
</body>
</html>
