.container {
  display: flex;
  justify-content: space-evenly;
}

.item {
  padding: 12px;
}

.item:nth-child(1) {
  border: 1px solid black;
}

.item:nth-child(2) {
  border: 1px solid red;
}

.item:nth-child(3) {
  border: 1px solid blue;
}
