header,
p {
  text-align: center;
}

main > p:nth-child(3) {
  text-align: left;
  margin: auto;
  width: 800px;
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 20px 40px;
}

img {
  width: 400px;
  border-radius: 50%;
}
