* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

h1 {
  text-align: center;
}

p {
  margin: 19.2px 14px;
}

@media (min-width: 891px) {
  body {
    width: 800px;
  }
}

@media (min-width: 661px) and (max-width: 890px) {
  body {
    width: 600px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 660px) {
  body {
    width: 90.9%;
  }

  h1 {
    font-size: 1.25rem;
  }
}
