html {
  /*
    Coding Is Really A Pleasure…Sometimes
    Coding Is Really A Pain…Sometimes
    Color, Image, Repeat, Attachment, Position, Size
  */

  /* background-color: pink;
  background-image: url('https://live.staticflickr.com/7040/6895743543_874b73a7a5_b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover; */

  background: pink url('https://live.staticflickr.com/7040/6895743543_874b73a7a5_b.jpg') no-repeat fixed 50% 50% / cover;
}

h1 {
  text-align: center;
}

h1 > span {
  background-color: rgba(255, 255, 255, .7);
  padding: 12px;
}
