/*
  Position: relative

  Stacking Context (z-index): Observed
  Flow: Not broken
  Parent: Defined in DOM
  Offset properties (top, right, bottom, left): Observed
*/

body {
  margin: auto;
  width: 400px;
}

span {
  position: relative;
  top: 4px;
  left: 4px;
  background-color: yellow;
  z-index: -1;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
